.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
  font-family: 'Nunito', sans-serif;
}

.btn-large {
  background-color: #0c4499;
  margin-right: 1rem;
}
.btn-large:hover, .btn-small:hover, .btn:hover {
  background-color: #1277E1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');