@media screen and (min-width: 578px)
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
.bkgimg > div:first-child {
    background-image: url(https://www.zillowstatic.com/s3/homepage/static/_Desktop_Overlay_ReadyChange_HC@2x.jpg);
}

@media screen and (min-width: 578px)
.bkgimg > div:first-child {
    background-image: url(https://www.zillowstatic.com/s3/homepage/static/_Desktop_Overlay_ReadyChange_HC.jpg);
    background-position: 45% bottom;
}

.bkgimg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}